{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <!-- Form Container with Gradient Background -->
    <div class="max-w-3xl mx-auto p-8 sm:p-12 bg-form dark:bg-dark/90 rounded-xl shadow-xl border border-light dark:border-dark/50 mt-12 animate-fade-in-up">
        
        <!-- Title -->
        {% element h1 %}
            <span class="text-5xl font-extrabold text-gray-900 dark:text-white leading-tight">
                {% trans "Sign Up" %}
            </span>
        {% endelement %}
        
        <!-- Description Text -->
        {% element p %}
            <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
                {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                    You are about to use your {{ provider_name }} account to login to {{ site_name }}. As a final step, please complete the following form:
                {% endblocktrans %}
            </p>
        {% endelement %}

        <!-- Form Action URL -->
        {% url 'socialaccount_signup' as action_url %}

        <!-- Sign-Up Form -->
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                <!-- Form Fields -->
                <div class="space-y-6">
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                </div>
                
                <!-- Redirect Field -->
                {{ redirect_field }}
            {% endslot %}

            <!-- Submit Button -->
            {% slot actions %}
                <button type="submit" class="w-full py-3 px-5 rounded-xl text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary dark:focus:ring-primary-dark transform transition-all duration-300 shadow-lg hover:shadow-xl hover:scale-105">
                    {% trans "Sign Up" %}
                </button>
            {% endslot %}
        {% endelement %}

        <!-- Already have an account? -->
        <div class="mt-6 text-center-custom">
            <p class="text-sm text-gray-600 dark:text-gray-300">
                {% trans "Already have an account?" %}
                <a href="{% url 'account_login' %}" class="text-primary hover:text-primary-dark font-medium transition-colors duration-300">
                    {% trans "Sign In" %}
                </a>
            </p>
        </div>
    </div>
{% endblock content %}
