{% extends "account/base_confirm_code.html" %}
{% load i18n allauth account widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block title %}
    {% trans "Enter Sign-In Code" %}
{% endblock %}
{% block recipient %}
    {% if email %}
        <a href="mailto:{{ email }}" class="font-medium text-primary hover:text-primary-dark">{{ email }}</a>
    {% else %}
        <a href="tel:{{ phone }}" class="font-medium text-primary hover:text-primary-dark">{{ phone }}</a>
    {% endif %}
{% endblock %}
{% block action_url %}
    {% url 'account_confirm_login_code' %}
{% endblock %}
{% block extra_tags %}login{% endblock %}