{% load i18n %}
{% load allauth %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    {% if not SOCIALACCOUNT_ONLY %}
        <div class="relative flex py-5 items-center">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-gray-700 font-medium">{% translate "Or continue with" %}</span>
            <div class="flex-grow border-t border-gray-400"></div>
        </div>
    {% endif %}
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
