{# cart/templates/cart/partials/add_to_cart.html #}
<script>
  document.dispatchEvent(new CustomEvent('cartCountUpdate', {detail: {{ cart_total_items|default:0 }} }));
  toastr.success("Added {{ product.name }} to cart");
</script>
<div>
  <div class="flex items-center">
    <img src="{{ product.get_primary_image }}" class="h-14 w-14 mr-3 rounded">
    <div>
      <div class="font-semibold">{{ product.name }}</div>
      <div class="text-xs text-gray-600">Stock left: {{ available_stock }}</div>
    </div>
  </div>
  <a href="{% url 'cart:detail' %}" class="btn btn-sm btn-primary mt-2">Go to Cart</a>
</div>
