{# cart/templates/cart/partials/cart_section_wrapper.html #}
{# This partial is designed to be swapped by HTMX for full cart updates #}
{% load static %}

<div id="cart-section-wrapper" class="grid grid-cols-1 lg:grid-cols-3 gap-8">
  {% if cart.active_items %}
    <div class="lg:col-span-2 space-y-6">
      {# Cart items grouped by seller #}
      {% include "cart/partials/cart_items.html" %}
    </div>

    <div class="lg:col-span-1">
      {# Order Summary and Shipping Options #}
      {% include "cart/partials/_order_summary.html" %}
    </div>
  {% else %}
    <div class="lg:col-span-3">
      {% include "cart/partials/_empty_cart.html" %}
    </div>
  {% endif %}
</div>
