{# cart/templates/cart/partials/sidebar.html #}
{# This partial's content is now generated dynamically by JavaScript. #}
{# All Django template tags and HTMX attributes have been removed. #}

<!-- The quick-cart-sidebar itself is in base.html. This file defines the content wrapper. -->
<div id="cart-sidebar-content-wrapper" class="flex flex-col h-full">
  {# Content will be injected here by JavaScript (renderCartSidebar function) #}
  <div class="p-4 text-center text-gray-500">
    <i class="fas fa-spinner fa-spin text-2xl mb-2"></i>
    <p>Loading cart content...</p>
  </div>
</div>
